<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for category in categories %}
    <a href="{{ category.id }}">{{ category.name }}</a>
{% endfor %}
</body>
</html>